In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.0.32-py2.py3-none-any.whl (381 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 381.6/381.6 kB 1.3 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /Users/dipenthapa/opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.19.1)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.32

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: pip install --upgrade pip

In [1]:
import mysql.connector as connector

In [2]:
connection = connector.connect(user = "dipen", password = "1233215%")

In [4]:
connection = connector.connect(user = "dipen", password = "1233215%", db = "capston")

In [5]:
cursor=connection.cursor()

In [6]:
show_tables_query = "SHOW tables" 
results=cursor.execute(show_tables_query)

In [7]:
results

In [9]:
tables = cursor.fetchall()
for table in tables:
    print(table[0])

Bookings
ContactDetails
Customers
MenuContent
MenuItems
Menus
OrderDeliveryStatus
Orders
Roles
Staff

In [12]:
customer_join_query = '''
        SELECT
            c.Name AS FullName,
            cd.Email AS Email,
            cd.PhoneNumber AS PhoneNumber,
            cd.Address AS Address,
            cd.Country AS Country,
            cd.City AS City,
            o.TotalCost AS Cost
        FROM Customers c
        JOIN ContactDetails cd
            USING (CustomerID)
        JOIN orders o
            USING (CustomerID)
        WHERE o.TotalCost > 60
        ORDER BY o.TotalCost DESC;
'''

In [13]:
cursor.execute(customer_join_query)

In [14]:
customers = cursor.fetchall()

In [15]:
print(f'There are {len(customers)} customers with more than $60 of spending...')
print('Printing the top 10 spenders...')

for customer in customers[:10]:
    print('=' * 50)
    print(f'Full Name: \t {customer[0]}')
    print(f'Email: \t\t {customer[1]}')
    print(f'Phone Number: \t {customer[2]}')
    print(f'Address: \t {customer[3]}')
    print(f'Country: \t {customer[4]}')
    print(f'City: \t\t {customer[5]}')
    print(f'Has spent: \t {float(customer[6])}')

There are 0 customers with more than $60 of spending...
Printing the top 10 spenders...